@import "./theme/data-elements-bootstrap.scss";

@import "./components/material.scss";
@import "./components/layout.scss";
@import "./components/loader.scss";
@import "./components/dashboard.scss";
@import "./components/not-found.scss";
@import "./components/empty-state.scss";
@import "./components/login.scss";
@import "./components/models.scss";

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

#toast-container > div {
  opacity: 1;
}
